<header class="headerdark">
    <div class="headerdark__content">

       <div class="headerdark__top">
        <div class="headerdark__left">
            <div class="headerdark__logo">
                <a aria-label="Лого" href="../index.html">
                    <img class="img__logo" src="../img/logo.png" alt="logo">
                </a>
            </div>
            <div class="headerdark__phone">
                <a aria-label="телефон" href="#">
                    <span class="phone__logo">
                        <svg class="phone">
                            <use xlink:href="#icon-phone"></use>
                        </svg>
                    </span>
                    <a class="phonedark__link" href="tel:7045550127">(704) 555-0127</a>
                </a>
            </div>
        </div>

        

        <div class="headerdark__right">
            <nav class="headerdark__navbar navbar">
                <ul class="nav__menudark">
                    
                    <li class="nav__item">
                        <div id="cursor2">
                            <div class="border__top"></div>
                            <div class="border__bottom"></div>
                            <div class="border__top--right"></div>
                            <div class="border__bottom--right"></div>
                          </div>
                        <a href="../company.html" class="nav__linkdark">О КОМПАНИИ</a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="../goods.html" class="nav__linkdark">ПРОДУКЦИЯ</a>
                    </li>

                    <li class="nav__item">
                        <a href="../vendors.html" class="nav__linkdark">ВЕНДОРЫ</a>
                    </li>

                    <li class="nav__item">
                        <a href="../services.html" class="nav__linkdark">УСЛУГИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="../newspage.html" class="nav__linkdark">НОВОСТИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="../contacts.html" class="nav__linkdark">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>

            <div class="headerdark__panel">
                <button class="btn" type="button" aria-label="Поиск">
                    <svg class="loopa">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </button>

                <button class="btndark" type="button" aria-label="Узбекский язык">O`Z</button>

                <button class="btndark" type="button" aria-label="Английский язык">EN</button>

                <button class="btndark" type="button" aria-label="Русский язык">РУ</button>    
            </div>

            <div class="header__burger">
                <button class="burger" type="button" aria-label="Бургер">
                    <span class="burgerdark__line1"></span>
                    <span class="burgerdark__line2"></span>
                    <span class="burgerdark__line3"></span>

                    <div class="burger__dropdown">
                        <ul class="burger__menu">
                            <li class="menu__option">
                                <a href="../company.html" class="option__link">О КОМПАНИИ</a>
                            </li>

                            <li class="menu__option">
                                <a href="../goods.html" class="option__link">ПРОДУКЦИЯ</a>
                            </li>

                            <li class="menu__option">
                                <a href="../vendors.html" class="option__link">ВЕНДОРЫ</a>
                            </li>

                            <li class="menu__option">
                                <a href="../services.html" class="option__link">УСЛУГИ</a>
                            </li>

                            <li class="menu__option">
                                <a href="../newspage.html" class="option__link">НОВОСТИ</a>
                            </li>

                            <li class="menu__option">
                                <a href="../contacts.html" class="option__link">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </div>
                </button>
            </div>
        </div>
       </div>

       <div class="headerdark__bottom">
        <!-- <span class="headerdark__bottom--text">
            <a href="../goods.html">Продукция</a>
            <p>></p>
            <a href="#">Бренды</a>
            <p>></p>
            <a href="#">Категории продукции</a>
        </span> -->
        <button class="headerdark__bottom--btn" type="button" aria-label="ПОДЕЛИТЬСЯ"> <svg class="headerdark__bottom--svg"> <use xlink:href="#icon-share"></use></svg>
            ПОДЕЛИТЬСЯ</button>
       </div>
    </div>
</headerdark>