<section class="news">
    <div class="news__content">
      <div class="news__top">
        <h2 class="news__header zoom">Новости компании</h2>

        <div class="news__info zoom">
          <a href="#" class="news__bold">ВСЕ НОВОСТИ</a>
          <span class="catalogue__arrow">
            <a aria-label="свайп вправо" href="#">
              <svg class="arrow">
                <use xlink:href="#icon-arrowRight"></use>
              </svg>
            </a>
          </span>
        </div>
      </div>

      <div class="news__bottom">
        <div class="news__background zoom">
          <div class="news__container">
            <div class="news__bottom--left">
              <div class="news__card" data-hover-text-id="1" data-hover-text="PROLINE - это отечественный бренд профессиональных промышленных котлов.
            Газовые котлы этой серии хорошо продаются на внутреннем рынке с надежным
            качеством и стабильной производительностью, а также пользуются успехом у
           пользователей">
                <b>01</b>
                <span>
                  <span>10.10.21</span>
                  <h3 class="card__header">PROLINE создает надежный бренд газовых котлов</h3>
                </span>
              </div>
              <div class="news__card"
                data-hover-text="PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE PROLINE ">
                <b>02</b>
                <span>
                  <span>11.10.21</span>
                  <h3 class="card__header">Как правильно выбрать промышленный парогенератор</h3>
                </span>
              </div>
              <div class="news__card"
                data-hover-text="ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН ПРОЛАЙН">
                <b>03</b>
                <span>
                  <span>11.10.21</span>
                  <h3 class="card__header">Как правильно выбрать промышленный парогенератор</h3>
                </span>
              </div>
            </div>
            <div class="news__bottom--right">
              <div class="news__card--right" data-text-id="1">
                <p class="news__text">"PROLINE" - это отечественный бренд профессиональных промышленных котлов.
                  Газовые котлы этой серии хорошо продаются на внутреннем рынке с надежным
                  качеством и стабильной производительностью, а также пользуются успехом у
                  пользователей.</p>
                <span class="know__more">
                  <a href="#" class="news__bold bottom">УЗНАТЬ БОЛЬШЕ</a>
                  <span class="catalogue__arrow">
                    <a aria-label="свайп вправо" href="#">
                      <svg class="arrow fill__white">
                        <use xlink:href="#icon-arrowRight"></use>
                      </svg>
                    </a>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>